.login-container {
  height: 80%;
  width: 100%;

  padding: 0 1rem;

  .login-header {
    @apply my-[2rem];
  }

  .login-button {
    margin: 50px auto;
  }

  .login-intro {
    @apply text-lg text-center;
  }

  .login-explanation {
    @apply text-sm leading-tight;
    @apply text-secondary-black;
    @apply p-[15px];
  }
}
