.home-container {
  width: 100%;
  margin-bottom: 2rem;

  .home-header {
    @apply relative overflow-hidden;
    height: 100dvh;
    .home-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      font-family: 'Star Jedi';

      @apply w-[280px];

      @apply text-3xl uppercase  text-center;
      @apply py-[1rem] m-auto;
      @apply text-secondary-blue bg-primary-pink;
    }

    /*     .home-planet {
      @apply absolute bottom-[100px] right-[-90px];
      @apply h-[200px] w-[200px];

      @apply rounded-full;
      @apply bg-secondary-green z-[-1];
    }

    .home-planet:nth-child(2) {
      @apply top-[50px] right-[-35px];
      @apply h-[220px] w-[220px];

      @apply bg-primary-purple;
    }

    .home-planet:nth-child(3) {
      @apply top-[50%] left-[10px];
      @apply h-[150px] w-[150px];

      @apply bg-primary-orange;
    }

    .home-planet:nth-child(4) {
      @apply top-[-100px] left-[-35px];

      @apply bg-primary-yellow;
    } */
  }
}

.home-main-container {
  @apply max-w-[900px] m-auto;
  @apply px-[20px];
}
.section-title {
  @apply text-xl leading-normal;
  @apply text-primary-black;
  @apply mb-[1rem];
}
.section-text {
  @apply text-sm leading-tight;
  @apply text-secondary-black;
}

.galaxy-explanation-container,
.share-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.share-container,
.galaxy-list-container,
.galaxy-explanation-container {
  padding: 1rem;
}

.share-buttons-container {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  padding: 10px;
}

.download-button,
.share-button {
  padding: 5px;
}

.download-button {
  @apply bg-primary-green;
}
.share-button {
  @apply bg-primary-blue;
}

/* @media screen and (min-width: 1024px) {
  .home-container {
    .home-header {
      .home-planet {
        @apply bottom-[30px] right-[-90px];
        @apply h-[400px] w-[400px];
      }

      .home-planet:nth-child(2) {
        @apply top-[-100px] right-[-100px];
        @apply h-[400px] w-[400px];
      }

      .home-planet:nth-child(3) {
        @apply top-[40%] left-[10px];
        @apply h-[400px] w-[400px];
      }

      .home-planet:nth-child(4) {
        @apply top-[-300px] left-[-200px];
        @apply h-[500px] w-[500px];
      }
    }
  }
} */
