.home-container {
  width: 100%;
  margin-bottom: 2rem;

  .home-header {
    @apply relative overflow-hidden;
    height: 100dvh;
    .home-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      font-family: 'Star Jedi';

      @apply w-[280px];

      @apply text-3xl uppercase  text-center;
      @apply py-[1rem] m-auto;
      @apply text-secondary-blue bg-primary-pink;
    }
  }
}

.home-main-container {
  @apply max-w-[900px] m-auto;
  @apply px-[20px];
}
.section-title {
  @apply text-xl text-center leading-normal;
  @apply text-primary-black;
  @apply mb-[1rem];
}
.section-text {
  @apply text-sm leading-tight;
  @apply text-secondary-black;
}

.galaxy-explanation-container,
.share-container {
  @apply my-gutter;
}

.share-container,
.galaxy-list-container,
.galaxy-explanation-container {
  padding: 1rem;
}

.share-buttons-container {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  padding: 10px;
}

.download-button,
.share-button {
  padding: 5px;
}

.download-button {
  @apply bg-primary-green;
}
.share-button {
  @apply bg-primary-blue;
}

@media screen and (min-width: 1024px) {
  .section-title {
    @apply text-3xl px-5 pb-5 pt-4;
  }
}

.poster-buttons {
  @apply flex flex-row justify-center items-stretch;

  margin-bottom: var(--gutter);

  .poster-button {
    @apply text-sm text-center;

    flex: 1;
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: black;
    padding: var(--gutter);

    &:last-child {
      border: none;
    }
  }
  .active-link {
    @apply bg-primary-purple;
  }
}
