@import "./fonts/lexend-mega.scss";

:root {
  --primary-black-color: rgb(38, 38, 39);

  --primary-white-color: whitesmoke;

  --primary-yellow-color: #fedc26;

  --gutter: 18px;

  --radius-sm: 1rem;
  --radius-lg: 3rem;
}
