@font-face {
  font-family: 'Bungee';
  src: url('/fonts/bungee/regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Star Jedi';
  src: url('/fonts/distant-galaxy/regular.ttf') format('truetype');
  font-style: normal;
}
