@font-face {
  font-family: 'Lexend Mega';
  src: url('/fonts/lexend-mega/medium.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Lexend Mega';
  src: url('/fonts/lexend-mega/bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend Mega';
  src: url('/fonts/lexend-mega/extra-bold.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend Mega';
  src: url('/fonts/lexend-mega/black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
