@font-face {
  font-family: "Lexend Mega";
  src: url("/lexend-mega/medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lexend Mega";
  src: url("/lexend-mega/bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lexend Mega";
  src: url("/lexend-mega/extra-bold.ttf") format("truetype");
  font-weight: bolder;
  font-style: normal;
}
