.poster-container {
  @apply flex justify-center items-center;
  @apply h-full w-full;
  @apply aspect-square overflow-hidden;
}

.poster-description {
  padding: var(--gutter);
  font-size: 2rem;
  text-align: center;
  margin-bottom: var(--gutter);
}
.poster-image {
  height: 100%;
  width: 100%;
}
