.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-block {
  @apply inline-block m-[2px] h-[30px] w-[30px];
  @apply bg-primary-purple;
  border: 3px solid var(--primary-black);

  &:first-child {
    @apply bg-primary-yellow;
    animation: left-block 1s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
  }
  &:last-child {
    animation: right-block 1s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
  }
}

@keyframes left-block {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes right-block {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(50px);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
